.me{float: left;
  margin-left: 2em;
  border-radius: 12%;
}

.heads{
  width:300px;
float: left;
padding-left: 2em;
}
.frontend{
  padding-left: 9%;
}
.backend{
    padding-left: 9%;
}
.section1{
  padding-left: 35%;
display: inline-block;
width: 50%;
}
.moreme{
  margin-left: ;
  padding-left: 10%;
  width: 75%;
}
.imgsfacts{
  display: inline-block;
}
.img3{
  float: left;
width: 300px;
padding-left: 10px;
}
.img4{
  padding-left:0;
float: left;
width: 230px;}
.img2{
float: left;
width: 250px;
}
.linkOne{
  float: left;
  width: 250px;
padding: 1em;
}
.linktwo{
  float: left;
  width: 250px;
  padding: 1em;
}
.scrpt{
  padding-left: 35%;
}
.html{
  padding-left: 9%;
}
.java{
  width: 250px;
  padding-left: 10%;
}
.htm{
  padding-left: 9%;
  width: 100%;
}
.k{  width: 250px;
  padding-left: 9%;}
.art{
  padding-left: 10%;
  display: inline-block;
  width: 80%;
}

.fact1{
  float: left;
  width: 250px;
}
.fact2{
  float: left;
  width: 250px;
}
.fact3{
  padding-left: 2em;
  float: left;
  width: 250px;
}
.cv{
  padding-left: 10%;
  width: 80%;
}
