.me{float: left;
  margin-left: 2em;
  border-radius: 12%;
}

.heads{
  width:300px;
float: left;
padding-left: 2em;
}

.section1{
  padding-left: 35%;
display: inline-block;
width: 50%;
}
.moreme{
  margin-left: ;
  padding-left: 10%;
  width: 75%;
}
.linkOne{
  float: left;
  width: 250px;
padding: 1em;
}
.linktwo{
  float: left;
  width: 250px;
  padding: 1em;
}
.java{
  width: 250px;
  padding-left: 10%;
}
.art{
  padding-left: 10%;
  display: inline-block;
  width: 80%;
}

.fact1{
  float: left;
  width: 250px;
}
.fact2{
  float: left;
  width: 250px;
}
.fact3{
  padding-left: 1em;
  float: left;
  width: 250px;
}
