.me{float: left;
  margin-left: 2em;
  border-radius: 12%;
}
.headding{ 
  background-color: rgb(65, 65, 65);
display: inline-block;
width: 100%;
color: white;
height: 15%;
}
.info{
  margin-left: 30%;
  
}
.personal{
border-left-color:  rgb(65, 65, 65);
border-style: groove;
margin: 0.5em;
}
.text{
  margin-left: 20%;
}
.links{
  background-color: rgb(65, 65, 65); 
  font-size: 3em;
}
.link{
  margin-left: 20%;
}
.boot{
  display: inline;
  
}
.other_boot{
  display: inline;
  float: left;
}
/* .heads{
  width:300px;
float: left;
padding-left: 2em;
}
.frontend{
  padding-left: 9%;
}
.backend{
  width: 250px;
}

.moreme{
  margin-left: ;
  padding-left: 10%;
  width: 75%;
}
.imgsfacts{
  display: inline-block;
}
.img3{
  float: left;
width: 300px;
}
.img4{
  padding-left:0;
float: left;
width: 230px;}
.img2{
  float: left;
width: 250px;
}
.linkOne{
  float: left;
  width: 250px;
padding: 1em;
}
.linktwo{
  float: left;
  width: 250px;
  padding: 1em;
}
.scrpt{
  padding-left: 35%;
}
.html{
  padding-left: 9%;
}
.java{
  width: 250px;
  padding-left: 10%;
}
.htm{
  padding-left: 9%;
  width: 100%;
}
.k{  width: 250px;
  padding-left: 9%;}
.art{
  padding-left: 10%;
  display: inline-block;
  width: 80%;
}

.fact1{
  padding-right: 1em;
  float: left;
  width: 250px;
}
.fact2{
  padding-right: 1em;
  float: left;
  width: 250px;
}
.fact3{
  margin-left: 1em;
  padding-left: 2em;
  float: left;
  width: 250px;
}
.cv{
  height: 5em;
  background-color: black;
  padding-left: 10%;
  width: 100%;
} */
